<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.consultaroo.app">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme1">
        <activity android:name="com.consultaroo.consultaroo.Hire"></activity>
        <activity android:name=".Activity.UserDetails" />
        <activity android:name=".Activity.VerifyOTP" />
        <activity android:name=".Activity.SignUp" />
        <activity android:name=".Activity.ImageSlider" />
        <activity android:name=".Activity.SignIn" />
        <activity android:name=".SpleshScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondSplesh"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ChooseOption"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Chat"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfessional"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Chatlist"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".Projectone"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1" />
    </application>

</manifest>